/* Ensure each section takes full height */
section {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 400ms ease-in-out;
    position: relative;
    z-index: 1;
}


/* Hero Section */
.hero-section {
    background: url('Images/hero-background.jpg') no-repeat center center/cover;
    color: white;
    height: 100vh;
    position: relative;
}

.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-section .container {
    position: relative;
    z-index: 1;
}

/* Sections Background */
#features, #rooms {
    background-color: #f8f9fa;
}

/* Carousel Styling */
.carousel-inner img {
    object-fit: cover;
    height: 500px;
}

#features .carousel img {
    border-radius: 8px;
    max-height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#features {
    height: 200vh;
}

.features-section {
    min-height: 65vh;
}

#features .list-group-item {
    border: none;
    padding: 0.75rem 1.25rem;
    background: none;
    font-size: 1rem;
    color: #333;
}

/* Navbar */
.navbar {
    z-index: 100;
}

/* Card Styling */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.room-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

/* General Typography */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h2 {
    color: #333;
}

/* Footer */
footer p {
    margin: 0;
}

